# Python
__pycache__/
*.py[cod]
*.log
*.env

# Virtualenv
venv/
ENV/
env/
.venv/
myenv/
.myenv/

# Django specific
*.pot
*.pyc
staticfiles/

# React
frontend/node_modules/
frontend/build/
frontend/.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
